<div class="ui accordion">
  <div class="title ui dividing header" [class.active]="panelOpenState" (click)="this.panelOpenState = !this.panelOpenState;">
    <i class="icon dropdown"></i>
    {{'weeklyTodoForm header' | translate}}
  </div>
  <div class="content" [class.active]="panelOpenState">
    <form [formGroup]="weeklyTodoForm" class="ui form" style="padding-bottom: 10px;">
        <div class="form-group two fields" *ngFor="let dailyToDosEntry of dailyToDosEntriesArr">
          <div class="ui labeled input field">
            <label class="ui label"><i class="{{dailyToDosEntry.icon}} circle icon"></i>{{dailyToDosEntry.title}}</label>
            <input class="ui labeled input" type="text" class="form-control" formControlName="{{'title' + dailyToDosEntry.meaning}}" placeholder="{{dailyToDosEntry.title}}">
          </div>
          <div class="ui labeled input field" [class.error]="weeklyTodoForm.get('todoText' + dailyToDosEntry.meaning).invalid && weeklyTodoForm.get('todoText' + dailyToDosEntry.meaning).touched">
            <label class="ui label">
              <i class="write icon"></i>
              {{'ToDoTextForm'|translate}}
              <a class="detail">
                <i [ngClass]="this.todoTextIconClass[(dailyToDosEntry.meaning).toLowerCase()]" (click)="setTodoTextAreaState(dailyToDosEntry.meaning)"></i>
              </a>
            </label>
            <ng-template *ngIf="getTextAreaState(dailyToDosEntry.meaning); then inputBlock; else textAreaBlock"></ng-template>
            <ng-template #textAreaBlock>
              <textarea  rows="3" class="ui labeled input" type="text" class="form-control" formControlName="{{'todoText' + dailyToDosEntry.meaning}}" placeholder="{{dailyToDosEntry.todoTextPlaceholder}}"></textarea>
            </ng-template>
            <ng-template #inputBlock>
              <input class="ui labeled input" type="text" class="form-control" formControlName="{{'todoText' + dailyToDosEntry.meaning}}" placeholder="{{dailyToDosEntry.todoTextPlaceholder}}">
            </ng-template>
            <div *ngIf="weeklyTodoForm.get('todoText' + dailyToDosEntry.meaning).invalid">
              <small *ngIf="weeklyTodoForm.get('todoText' + dailyToDosEntry.meaning).errors?.required && weeklyTodoForm.get('todoText' + dailyToDosEntry.meaning).touched" class="ui left pointing red basic label">{{'Required'|translate}}</small>
              <small *ngIf="weeklyTodoForm.get('todoText' + dailyToDosEntry.meaning).errors?.maxlength" class="ui left pointing red basic label">{{'Max150Symbols'|translate}}</small>
            </div>
          </div>
        </div>
      <button class="ui primary button" type="submit" [disabled]="weeklyTodoForm.get('todoTextTarget').invalid || weeklyTodoForm.get('todoTextPart').invalid || weeklyTodoForm.get('todoTextLongBox').invalid || weeklyTodoForm.get('todoTextPersonalGrowth').invalid" (click)="setTodo()">{{'TodoSubmit'|translate}}</button>
    </form>
  </div>
</div>
<app-weekly-to-dos-list [siDoneList]="false"></app-weekly-to-dos-list>
