/deep/ .mat-mdc-tab-body-content {  /* Removing the scrollbar from the Tabs card */
  overflow: hidden !important;
}
.weekly-to-do-input::placeholder {
  color: black!important;
  font-weight: bold!important;
}
.weekly-to-do-two-fields {
  margin: 1em -0.5em!important;
  align-items: center;
}
.weekly-to-do-icon-size {
  font-size: 1.2em;
}

.weekly-to-do-forms-buttons {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.weekly-to-do-forms-buttons.mobile-buttons {
  flex-flow: column wrap!important;
}

.mat-expansion-panel {
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Set the box shadow */
}

.mat-expansion-panel-header {
  margin: 7px 0;
  padding: 0px 10px;
}

.mat-expansion-panel-content {
}

/deep/ .panel-content ::ng-deep {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;
}
