<div class="ui accordion">
  <div class="title ui dividing header" [class.active]="panelOpenState" (click)="this.panelOpenState = !this.panelOpenState;">
    <i class="icon dropdown"></i>
    {{'weeklyTodoForm header' | translate}}
  </div>
  <div class="content" [class.active]="panelOpenState">
    <form [formGroup]="weeklyTodoForm" class="ui form">
        <div class="form-group two fields" *ngFor="let dailyTodo of dailyToDoArr">
          <div class="ui labeled input field">
            <label class="ui label"><i class="{{dailyTodo.icon}} circle icon"></i>{{dailyTodo.title}}</label>
            <input class="ui labeled input" type="text" class="form-control" formControlName="{{'title' + dailyTodo.meaning}}" placeholder="{{dailyTodo.title}}">
          </div>
          <div class="ui labeled input field" [class.error]="weeklyTodoForm.get('todoText' + dailyTodo.meaning).invalid && weeklyTodoForm.get('todoText' + dailyTodo.meaning).touched">
            <label class="ui label">
              <i class="write icon"></i>
              {{'ToDoTextForm'|translate}}
              <a class="detail">
                <i [ngClass]="this.todoTextIconClass[(dailyTodo.meaning).toLowerCase()]" (click)="setTodoTextAreaState(dailyTodo.meaning)"></i>
              </a>
            </label>
            <ng-template *ngIf="getTextAreaState(dailyTodo.meaning); then inputBlock; else textAreaBlock"></ng-template>
            <ng-template #textAreaBlock>
              <textarea  rows="3" class="ui labeled input" type="text" class="form-control" formControlName="{{'todoText' + dailyTodo.meaning}}" placeholder="{{dailyTodo.todoTextPlaceholder}}"></textarea>
            </ng-template>
            <ng-template #inputBlock>
              <input class="ui labeled input" type="text" class="form-control" formControlName="{{'todoText' + dailyTodo.meaning}}" placeholder="{{dailyTodo.todoTextPlaceholder}}">
            </ng-template>
            <div *ngIf="weeklyTodoForm.get('todoText' + dailyTodo.meaning).invalid">
              <small *ngIf="weeklyTodoForm.get('todoText' + dailyTodo.meaning).errors?.required && weeklyTodoForm.get('todoText' + dailyTodo.meaning).touched" class="ui left pointing red basic label">{{'Required'|translate}}</small>
              <small *ngIf="weeklyTodoForm.get('todoText' + dailyTodo.meaning).errors?.maxlength" class="ui left pointing red basic label">{{'Max150Symbols'|translate}}</small>
            </div>
          </div>
        </div>
      <button class="ui primary button" type="submit" [disabled]="weeklyTodoForm.get('todoTextTarget').invalid || weeklyTodoForm.get('todoTextPart').invalid || weeklyTodoForm.get('todoTextLongBox').invalid || weeklyTodoForm.get('todoTextPersonalGrowth').invalid" (click)="setTodo(); resetForm()">{{'TodoSubmit'|translate}}</button>
    </form>
  </div>
</div>
