<div class="ui buttons" *ngIf="toDosArrLength > 1">
  <div class="ui labeled buttons">
    <button class="ui positive button" (click)="completeAll()">{{'Complete all' | translate}}</button>
    <div class="middle-label ui basic label">
      <i class="sort rotated down icon"></i>
      <div class="ui centered text">{{ "or" | translate}}</div>
      <i class="sort rotated up icon"></i>
    </div>
    <button class="ui negative button" (click)="clearToDoList()">{{'Delete all' | translate}}</button>
  </div>
</div>
