<mat-tab-group class="clearfix ui two item menu" (selectedTabChange)="tabChanged($event)" [selectedIndex]="this.tabIndex$ | async">
  <mat-tab  class="item" label="{{'todoList-tab-title' | translate}}">
    <div class="ui accordion ui-accordion-input-form">
      <div class="title ui dividing header" [class.active]="accordeonActive" (click)="setAccordeonState()">
        <i class="icon dropdown"></i>
        {{'todoForm header' | translate}}
      </div>
      <div class="content" [class.active]="accordeonActive">
        <form [formGroup]="todoForm" class="ui form">
          <div class="form-group two fields">
            <div class="ui labeled input field" [class.error]="todoForm.get('title').errors?.maxlength && todoForm.get('title').touched">
              <label class="ui label button" [class.yellow]="this.holdTitle" (click)="setTitleState()" translate><i class="plus circle icon"></i>{{'to-do-title'}}</label>
              <input class="ui labeled input" type="text" class="form-control" formControlName="title" placeholder="{{'ToDotitlePlaceholder'|translate}}">
              <small *ngIf="todoForm.get('title').errors?.maxlength" class="ui left pointing red basic label">{{'Max25Symbols'|translate}}</small>
            </div>
            <div class="ui calendar labeled input field" [class.error]="todoForm.get('deadline').invalid">
              <label class="ui label">
                <i class="calendar check outline icon"></i>
                {{'Deadline' | translate}}
              </label>
              <input type="date" class="form-control" formControlName="deadline" value="todoForm.get('deadline')">
              <a *ngIf="todoForm.get('deadline').untouched" class="ui tag label">{{'SelectDeadline'|translate}}</a>
              <small *ngIf="todoForm.get('deadline').invalid" class="ui left pointing red basic label">{{'Required'|translate}}</small>
            </div>
          </div>
          <div class="form-group field">
            <div class="ui labeled input field" [class.error]="todoForm.get('todoText').invalid && todoForm.get('todoText').touched">
              <label class="ui label">
                <i class="write icon"></i>
                {{'ToDoTextForm'|translate}}
                <a class="detail">
                  <i [ngClass]="this.todoTextIconClass" (click)="this.setTodoTextAreaState()"></i>
                </a>
              </label>
              <ng-template *ngIf="this.todoTextArea===false; then inputBlock; else textAreaBlock"></ng-template>
              <ng-template #textAreaBlock>
                <textarea  rows="3" class="ui labeled input" type="text" class="form-control" formControlName="todoText" placeholder="{{'newToDoPlaceholder'|translate}}"></textarea>
              </ng-template>
              <ng-template #inputBlock>
                <input class="ui labeled input" type="text" class="form-control" formControlName="todoText" placeholder="{{'newToDoPlaceholder'|translate}}">
              </ng-template>
              <div *ngIf="todoForm.get('todoText').invalid">
                <small *ngIf="todoForm.get('todoText').errors?.required && todoForm.get('todoText').touched" class="ui left pointing red basic label">{{'Required'|translate}}</small>
                <small *ngIf="todoForm.get('todoText').errors?.maxlength" class="ui left pointing red basic label">{{'Max150Symbols'|translate}}</small>
              </div>
            </div>
          </div>
<!--          TODO complete app-buttons-complete-delete-all component with submit button, add wrapper to the component as below-->
          <div class="weekly-to-do-forms-buttons {{(isHandset$ | async) ? 'mobile-buttons' : ''}}">
            <button class="ui primary button" type="submit" [disabled]="todoForm.get('todoText').invalid || todoForm.get('deadline').invalid || todoForm.get('title').errors?.maxlength" (click)="setTodo(); resetForm()">{{'TodoSubmit'|translate}}</button>
            <div style="margin: 3px 0"></div>
            <app-buttons-complete-delete-all *ngIf="(this.todos$ | async).length > 0" [data]="{isWeekly: false, toDos: (this.todos$ | async)}"></app-buttons-complete-delete-all>
          </div>
        </form>
      </div>
    </div>
    <br>
    <app-todolist *ngIf="(this.todos$ | async).length > 0" [todos]="(this.todos$ | async)"></app-todolist>
    <ng-container *ngIf="(this.todos$ | async).length === 0">
      <app-no-list-loading-animation [isDoneList]="false"/>
    </ng-container>
  </mat-tab>
  <mat-tab  class="item" label="{{'dailyTodos-tab-title' | translate}}">
    <app-weekly-to-do></app-weekly-to-do>
  </mat-tab>
</mat-tab-group>
