<div class="ui centered header" translate>404: Nothing found!</div>
      <div class="ui big segment">
          <div class="ui grid">
              <div class="row"></div>
              <div class="three column row">
                  <div class="column"></div>
                  <div class="column">
                    <div class="ui active inverted dimmer">
                      <div class="ui text loader" translate>{{'Under construction'}}</div>
                    </div>
                  </div>
                  <div class="column"></div>
              </div>
              <div class="row"></div>
              <div class="row"></div>
        </div>
      </div>
