.ui.card.weekly-to-do {
  width: auto;
  margin: 0.5em 1px;
  padding: 0.1em 0.5em;
}

.ui-accordion-input-form {
  margin-top: 5px;
}

.ui.label.mobile-label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 25%;
}
