.ui.card.weekly-to-do {
  width: auto;
  margin: 0.5em 1px;
  padding: 0.1em 0.5em;
}

.ui-accordion-input-form {
  margin-top: 5px;
}

.todo-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
