<div class="ui container">
  <h1 class="ui centered header" translate>{{!(isHandset$| async) ? ('ProjectTitle' | translate) : ('Alfa version-' + version)}}</h1>
    <div class="ui" style="display: flex; justify-content: space-between; align-items: baseline;">
          <nav class="clearfix ui two item menu">
            <!-- Damit die Aktivierung von Startseite-Element in dem Menu nur beim Startseite angezeigt wird, brauche ich Direktive [routerLinkActiveOptions]="{exact: true}"-->
<!--            TODO make toggle instead of tabs-->
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item">{{'ToDo-List'| translate}}</a>
            <a routerLink="/done" routerLinkActive="active" class="item">{{'Done-Todos'|translate}}</a>
<!--            TODO if activate this route, than change class of the nav element from two to three-->
<!--            <a routerLink="/account" routerLinkActive="active" class="item">{{'UserProfile'|translate}}</a>-->
          </nav>
          <select class="ui dropdown button" #langSelect (change)="changeLanguage(langSelect.value)" style="margin: 0 0 0 10px;">
            <option class="item" *ngFor="let lang of translateService.getLangs()" value="{{lang}}">{{lang}}</option>
          </select>
    </div>
    <br>
  <router-outlet></router-outlet>
</div>
