<ng-container *ngFor="let dailyTodo of (dailyToDos$ | async)">
  <div class="weekly-to-do-title" *ngIf="(dailyTodo.doneDate | date: 'EEEE') === 'Monday'">
    {{'Week of year' | translate}}: {{dailyTodo.doneDate | date: 'w'}}, {{'Week of month' | translate}}: {{dailyTodo.doneDate | date: 'W'}}
    <mat-divider class="todoui-list-divider"></mat-divider>
  </div>
  <div class="ui card weekly-to-do">
  <form class="ui form" [formGroup]="singleTodoForm">
    <div class="ui segment">
      <div class="two fields">
        <div class="field">
          <div class="ui toggle checkbox" (click)="completeDailyTodo(dailyTodo.uniqueId)">
            <input type="checkbox" name="gift" class="hidden" [disabled]="isDoneList" [checked]="dailyTodo.complete==true">
            <label>{{'Complete day' | translate}}</label>
          </div>
        </div>
        <div class="field">
          <div class="weekly-to-do-title">{{((dailyTodo.doneDate | date: 'EEEE') | translate)}}, {{dailyTodo.doneDate | date: 'd-M-yyyy'}}, ID: {{dailyTodo.idNumber}}</div>
        </div>
      </div>
    </div>
    <div class="form-group two fields weekly-to-do-two-fields">
      <div class="ui labeled input field">
<!--         TODO create alternative textarea field to read/edit todos similar to templates logic of weeklyTodoForm, weekly-to-do.component.html lines 13-28 -->
        <label class="ui label"><i class="{{this.dailyToDosEntries.target.icon}} circle icon"></i>{{dailyTodo.titleTarget | translate}}</label>
        <input formControlName="todoTextTarget" class="weekly-to-do-input ui labeled input" type="text" value="{{dailyTodo.todoTextTarget}}" [disabled]="dailyTodo.completeTarget">
        <button class="ui circular icon button" (click)="completeDailyTodo(dailyTodo.uniqueId, this.dailyToDosEntries.target.meaning)"><i class="check circle {{(dailyTodo.completeTarget) ? 'green' : 'grey'}} icon weekly-to-do-icon-size"></i></button>
      </div>
      <div class="ui labeled input field">
        <label class="ui label"><i class="{{this.dailyToDosEntries.part.icon}} circle icon"></i>{{dailyTodo.titlePart | translate}}</label>
        <input formControlName="todoTextPart" class="weekly-to-do-input ui labeled input" type="text" placeholder="{{dailyTodo.todoTextPart}}" [disabled]="dailyTodo.completePart">
        <button class="ui circular icon button" (click)="completeDailyTodo(dailyTodo.uniqueId, this.dailyToDosEntries.part.meaning)"><i class="check circle {{(dailyTodo.completePart) ? 'green' : 'grey'}} icon weekly-to-do-icon-size"></i></button>
      </div>
    </div>
    <div class="form-group two fields weekly-to-do-two-fields">
      <div class="ui labeled input field">
        <label class="ui label"><i class="{{this.dailyToDosEntries.longBox.icon}} circle icon"></i>{{dailyTodo.titleLongBox | translate}}</label>
        <input formControlName="todoTextLongBox" class="weekly-to-do-input ui labeled input" type="text" placeholder="{{dailyTodo.todoTextLongBox}}" [disabled]="dailyTodo.completeLongBox">
        <button class="ui circular icon button" (click)="completeDailyTodo(dailyTodo.uniqueId, this.dailyToDosEntries.longBox.meaning)"><i class="check circle {{(dailyTodo.completeLongBox) ? 'green' : 'grey'}} icon weekly-to-do-icon-size"></i></button>
      </div>
      <div class="ui labeled input field">
        <label class="ui label"><i class="{{this.dailyToDosEntries.personalGrowth.icon}} circle icon"></i>{{dailyTodo.titlePersonalGrowth | translate}}</label>
        <input formControlName="todoTextPersonalGrowth" class="weekly-to-do-input ui labeled input" type="text" placeholder="{{dailyTodo.todoTextPersonalGrowth}}" [disabled]="dailyTodo.completePersonalGrowth">
        <button class="ui circular icon button" (click)="completeDailyTodo(dailyTodo.uniqueId, this.dailyToDosEntries.personalGrowth.meaning)"><i class="check circle {{(dailyTodo.completePersonalGrowth) ? 'green' : 'grey'}} icon weekly-to-do-icon-size"></i></button>
      </div>
    </div>
  </form>
</div>
</ng-container>
